{% extends "ShopEase/base.html" %}

{% block body %}
<div class="products">
    <div class="flex">
        <div class="lf">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>
        <div class="rf">
            <h2>{{ product.name }}</h2>
            <p>Price: ${{ product.price }}</p>
            <button class="button-12" role="button">Buy</button>
            <p>Description: {{ product.description }}</p>
            <p>Posted By: {{ product.merchant }}</p>
        </div>
    </div>
</div>
{% endblock %}