:root{
    --bodybg: #1e1f23;
    --navbg: #16181c;
    --divbg: #17191c;
    --hoverbg: #7287aa;
    --border: #34373c;
    --fontcol: #dcdcdc;
    --shadow: #000000;
    --linkcol: rgb(211, 106, 106);
}

@font-face {
    font-family: jetbrains;
    src: url(./JetBrainsMono-Medium.ttf);
}

*{
    font-family: jetbrains;
}

body{
    margin:0;
    padding: 0;
    background-color: var(--bodybg);
}
.nav{
    background-color: var(--navbg);
    overflow: hidden;
    text-align: center;
    border: 1px solid var(--border);
}
  
.nav a {
    display: inline-block;
    color: var(--fontcol);
    font-size: 1em;
    padding: 0.5em;
    text-decoration: none;
  }

.nav a:hover {
    background-color: var(--hoverbg);
    color: var(--bodybg);
}

.link {
    text-decoration: none;
    color: var(--linkcol);
}

.products {
    color: var(--fontcol);
    text-align: center;
    margin: 1em auto;
    border: 1px solid var(--border);
    border-radius: 1em;
    box-shadow: 0 0 10px 2px var(--shadow);
    background-color: var(--divbg);
    max-width: 100%;
    width: 40vw;
}
.products img {
    margin-bottom: 2vh;
    width: 30vw;
    border-radius: 1em;
    box-shadow: 0 0 10px 2px var(--shadow);
}

@media only screen and (orientation: portrait) {
    .products {
        width: 80vw
    }

    .products img {
        width: 60vw
    }
}