{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovaCart</title>
    <link href="{% static 'ShopEase/css/style.css' %}" rel="stylesheet">

</head>

<body>
    <section id="Navbar">
        <nav>
            <!-- <img src="{% static 'ShopEase/img/logo.jpg' %}" alt="Website Logo"
                style="border-radius: 50%; height: 1rem;"> -->
                <div class="nav">
                    <a href="/">Home</a>
                    <a href="/shop">Shop</a>
                    <a href="./about.html">About</a>
                    <a href="./login">Login</a>
                </div>
        </nav>
    </section>
    <section id="Main">
        <br><br><br><br>
        {% block body %}

        {% endblock %}
    </section>
</body>

</html>