{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovaCart</title>
    <link href="{% static 'ShopEase/css/style.css' %}" rel="stylesheet">

</head>

<body>
    <section id="Navbar">
        <nav>
            <!-- <img src="{% static 'ShopEase/img/logo.jpg' %}" alt="Website Logo"
                style="border-radius: 50%; height: 1rem;"> -->
                <div class="nav">
                    <a href="./main.html">Home</a>
                    <a href="./shop.html">Shop</a>
                    <a href="./about.html">About</a>
                    <a href="./login.html">Login</a>
                </div>
        </nav>
    </section>
    <section id="Main">
        <br><br><br><br>
        {% block body %}

        {% endblock %}
    </section>
    <br>
    <br>
    <br>
    <br>
    <footer>
        <!-- Footer section -->
        <div class="footer-content">
            <p>&copy; 2023 My eCommerce Site</p>
            <ul class="footer-links">
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>