<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovaCart</title>

    
</head>
<body>
    <section id="Navbar">
        <nav>
            <img src="logo.png" alt="Website Logo">
            <a href="#Home">Home</a>
            <a href="#Shop">Categories</a>
            <a href="#About">About</a>
            <a href="#SearchBar">Search Bar</a>
            <a href="#Login">Login</a>
        </nav>
    </section>
</body>
</html>